{% extends "AppCoder/padre.html" %}
{% load static %}
{% block contenidoQueCambia %}

    <!-- Aquí va lo que cambia y lo asociado a la vista-->
    <div style="text-align: center;">
        <h1>Bienvenidos al sitio web de Django - Coder House</h1>
        <p> Este sitio web cuenta con pestañas donde podrás cargar información sobre tus cursos, profesores y estudiantes, así como también podrás subir entregables.</p>
        <h4 style="margin-top: 20px;">¡Explora nuestra función de búsqueda para encontrar las comisiones que necesitas!</h4>
    </div>
{% endblock %}
