{% extends "AppCoder/padre.html" %}

{% block titulo %}Formulario - Agregar Profesor{% endblock %}

{% block contenidoQueCambia %}
    <h1>Agregar Profesor</h1>
    <p>Completa los detalles del profesor a agregar:</p>

    <!-- Resto del contenido específico de esta vista -->

    {% if miFormulario.errors %}
        <p style="color: red;">Están mal los datos, revisar</p>
    {% endif %}
    
    <form action="" method="POST">
        {% csrf_token %}
        <table>
            {{ miFormulario.as_table }}
        </table>

        <input type="submit" value="Enviar">
    </form>
{% endblock %}
